{% extends 'myapp/base.html' %}

{% block content %}


    
    <h3>My GameShop</h3>
    <p>ร้านขายเกมคุณภาพที่คุณไว้วางใจ</p>

    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7750.734538798709!2d100.4929342!3d13.7567118!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2990db4a963f9%3A0x69fc3357641e5a44!2z4Liq4LiZ4Liy4Lih4Lir4Lil4Lin4LiH!5e0!3m2!1sth!2sth!4v1615259584738!5m2!1sth!2sth" 
                width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>


{% endblock content%}








