{% extends 'myapp/base.html' %}

{% load markdown_extras %}
{% block content %}

<h1 style="color: red;">สินค้าล่าสุด</h1>

<div class="container-fluid">
<div class="row">
{% for pd in product %}

    <div class="col-sm-4" >

            <div class="card"  width='400px' height='400px'>

                            {% if pd.image %}
                            <img class="card-img-top" src="{{ pd.image.url }}" alt="Card image" width="400" height="400">
                            {% elif pd.imageurl %}
                            <img class="card-img-top" src="{{ pd.imageurl }}" alt="Card image" width="400" height="400">
                            {% else %}
                            
                            <img class="card-img-top" src="/media/default-image.png" alt="Card image" width="400" height="400">
                            {% endif %}
                    
                    <div class="card-body">
                            <h4 class="card-title">  {{ pd.name }}   </h4>
                            <p class="card-text">   ราคา {{ pd.price }} บาท/{{pd.unit}} </p>
                            <p class="card-text">    {{ pd.detail|markdown|safe|truncatechars_html:100  }} 
                                <a href="{% url 'detail-page' pd.id  %}" target="blank">รายละเอียด</a>
                            </p>
                            <!--/  |truncatechars_html:70 กำหนดคำว่าใช้ได้กี่คำ   /-->
                            <!--/  |linebrakes เอาตัวเว้นขึ้นหน้าใหม่ด้วย /-->


                            
                            
                    </div>
            </div>
                        <br><br>
    
    </div>
{% endfor %}
</div>
</div>

<div class="container">
  <center><a href="{% url 'allproduct-page' %}"><h1>สินค้าทั้งหมด</h1></a></center>
  <hr>
</div>





<h1 style="color: red;">สินค้าสั่งล่วงหน้า</h1>

<div class="container-fluid">
<div class="row">
{% for pd in preorder %}

    <div class="col-sm-4" >

            <div class="card"  width='400px' height='400px'>

                            {% if pd.image %}
                            <img class="card-img-top" src="{{ pd.image.url }}" alt="Card image" width="400" height="400">
                            {% elif pd.imageurl %}
                            <img class="card-img-top" src="{{ pd.imageurl }}" alt="Card image" width="400" height="400">
                            {% else %}
                            
                            <img class="card-img-top" src="/media/default-image.png" alt="Card image" width="400" height="400">
                            {% endif %}
                    
                    <div class="card-body">
                            <h4 class="card-title">  {{ pd.name }}   </h4>
                            <p class="card-text">   ราคา {{ pd.price }} บาท/{{pd.unit}} </p>
                            <p class="card-text">    {{ pd.detail|markdown|safe|truncatechars_html:100  }} 
                                <a href="{% url 'detail-page' pd.id  %}">รายละเอียด</a>
                            </p>
                            <!--/  |truncatechars_html:70 กำหนดคำว่าใช้ได้กี่คำ   /-->
                            <!--/  |linebrakes เอาตัวเว้นขึ้นหน้าใหม่ด้วย /-->


                            
                    </div>
            </div>
                        <br><br>
    
    </div>
{% endfor %}
</div>
</div>

{% endblock content%}



