{% extends 'myapp/base.html' %}
{% load humanize %}

{% block content %}

        <br>
        <div class="container">
            <h2>รายการสั่งซื้อทั้งหมด</h2>
                     
        <table class="table">
              <thead>
                <tr>
                    <th>orderID</th>
                    <th>เวลาสั่งซื้อ</th>  
                    <th>ราคาสินค้า</th>
                    <th>ค่าส่ง</th>
                    <th>ยอดโอน</th>
                    <th>สถานะ</th>
                    <th>Tracking</th>
                </tr>
              </thead>
              <tbody>
                {% for od in allorder %}
                <tr>
                    <td> <a href="{% url 'myorder-page' od.orderid %}">{{od.orderid}}</a> </td>
                    <td>{{od.stamp}}</td>
                    
                    <td>{{od.total|intcomma}}</td>
                    <td>{{od.shipcost|intcomma}}</td>
                    <td>{{od.total|add:od.shipcost|intcomma}}</td>
                    <td>
                        {% if od.paid %}
                            <i class="fa fa-credit-card" style="font-size:16px;color:rgb(12, 210, 12);"></i> จ่ายเงินเรียบร้อย
                        {% else %}
                        <a href="{% url 'uploadslip-page' od.orderid %}" class='btn btn-primary'> กรุณาชำระเงิน</a>    
                        {% endif %}
                    </td>
                    <td>
                      {% if od.trackingnumber != None%}
                      {{od.trackingnumber}}
                      {% else %}
                     กำลังดำเนินการ
                      {% endif %}
                    </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>


          </div>
          
    




{% endblock content%}








