{% extends 'myapp/base.html' %}

{% block content %}

  <div class="row">
    <div class="col-sm-4">
      <img src="https://gmedia.playstation.com/is/image/SIEPDC/playstation-5-with-dualsense-front-product-shot-01-ps5-en-30jul20?$1600px--t$" width="300" height="400">
      <h3> {{ product01 }}</h3>
      <p>พบกับการโหลดที่รวดเร็วดั่งสายฟ้าด้วย Ultra-High Speed SSD พร้อมสัมผัสความสมจริงที่มากยิ่งขึ้นด้วยระบบตอบสนองแบบสัมผัสของทริกเกอร์แบบปรับเปลี่ยนได้ และเสียง 3D รวมไปถึงเกมใหม่สุดแสนน่าทึ่งจาก PlayStation®</p>
      <p>ความเร็วดุจสายฟ้า 
ใช้ประโยชน์จากขุมพลัง CPU, GPU และ SDD แบบเฉพาะ พร้อม Integrated I/O ที่จะกำหนดกฎเกณฑ์ใหม่ที่คอนโซล PlayStation สามารถทำได้</p>
        

    </div>
  </div>
{% endblock content%}



