{% extends 'myapp/base.html' %}

{% block content %}
  <div class="container" style="margin-bottom: 100px;">
    <h2> Register now! </h2>
    
    <form method="POST"> 
      {% csrf_token %}

      <div class="form-group">
        <label for="email">Email (Username) :</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>

      <div class="form-group">
        <label for="password">password :</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>

      <div class="form-group">
        <label for="first_name">firstname :</label>
        <input type="text" class="form-control" id="first_name" name="first_name">
      </div>
      
      <div class="form-group">
        <label for="last_name">lastname :</label>
        <input type="text" class="form-control" id="last_name" name="last_name">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
  </div>

{% endblock content%}

